.about{
    height: 500px;
    background: url("../img/men-computer (4).png")  no-repeat;
    background-color: rgba(60,73,85,0.75);
    opacity: 0.75;
    background-blend-mode: multiply;
}
.about_text{
    width: 416px;
    float: right;
    padding-right: 140px;
    /*margin-right: 136px;*/
}
.text_name,
.text_job,
.text_discription{
    display: block;
}
/*.text_name{*/
/*height: 20px}*/

/*}*/
.text_name,
.text_job{
    /*line-height: 32px;*/
    color: rgb(255,255,255);
    font-family: "Lato bold", sans-serif;

}
.text_name{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 100px;
}
.text_job{
    font-size: 22px;
    padding-bottom: 50px;
}
.text_discription{
    width: 430px;
    height: 144px;
    font-size: 16px;
    line-height: 25px;
    color: rgb(255,255,255);
    font-family: "Lato-Bold", sans-serif;
}
.about_button{
    width: 152px;
    height: 39px;
    border-radius: 3px;
    /*background-color: #fdf7fd;*/
    border: 2px solid #3c4955;

    font-size: 14px;
    line-height: 25px;
    /*color: rgb(60,73,85);*/
    font-family: "Lato bold", sans-serif;
    font-weight: bold;
    /*border: 1px #33cc66 solid;*/
    /*background-image: none;*/
    background-color: transparent;
    /*border-radius: 3px;*/
    /*margin-top: 50px;*/
    text-transform: uppercase;
    color: #3c4955;
    margin-top: 40px;
}