.head{
    height: 620px;
    background-image: url("../img/computer.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 0;
    /*position: absolute;*/
}
.logonav{
    height: 99px;
    padding-top: 90px;
}
.logo{
    height: 99px;
    width: 174px;
    display: block;
    background: url("../img/foliac-logo.png");
    float: left;

}
.navigation{
    height: 99px;
    width: 700px;
    color: white;
    float: right;
    padding-top: 50px;
}
.navigation_link{
    color: white;
    padding-left: 55px;
    font-family: "Lato bold", sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.item:after{
    content: "/";
    padding-left: 55px;
    color: #58626a;
}
.titlepage{
    color: white;
    text-align: center;
    margin-top: 160px;

}
.head_text1{
    font-family: "Big John", sans-serif;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
}
.head_text2{
    font-family: "Slim Joe", sans-serif;
    font-size: 30px;
    padding-top: 30px;
    text-transform: uppercase;
}
.head_button{
    width: 140px;
    height: 40px;
    color: #33cc66;
    font-family: "Lato bold", sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: 1px #33cc66 solid;
    background-image: none;
    background-color: transparent;
    border-radius: 3px;
    margin-top: 50px;
    text-transform: uppercase;
}