@font-face {
    font-family: "Lato bold";
    src: url("../font/9622.ttf");
}
@font-face {
    font-family: "Big John";
    src: url("../font/BigJohn.otf");
}
@font-face {
    font-family: "Slim Joe";
    src: url("../font/SlimJoe.otf");
}
/*.body{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*width: 1920px;*/
/*}*/
.head{
    height: 620px;
    background-image: url("../img/computer.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 0;
}
/*.center-toppage,*/
/*.center-footer,*/
/*.center-form*/
/*.container{*/
    /*width: 1140px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/
.logonav{
    height: 99px;
    padding-top: 90px;
}
.logo{
    height: 99px;
    width: 174px;
    display: block;
    background: url("../img/foliac-logo.png");
    float: left;

}
.navigation{
    height: 99px;
    width: 700px;
    color: white;
    float: right;
    padding-top: 50px;
}
.navigation_link{
    color: white;
    padding-left: 55px;
    font-family: "Lato bold", sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.item:after{
    content: "/";
    padding-left: 55px;
    color: #58626a;
}
.titlepage{
    color: white;
    /*padding-top: 50px;*/
    text-align: center;
    margin-top: 160px;

}
h1{
    font-family: "Big John", sans-serif;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-family: "Slim Joe", sans-serif;
    font-size: 30px;
    padding-top: 30px;
    text-transform: uppercase;
}
.head_button{
    width: 140px;
    height: 40px;
    color: #33cc66;
    font-family: "Lato bold", sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: 1px #33cc66 solid;
    background-image: none;
    background-color: transparent;
    border-radius: 3px;
    margin-top: 50px;
    text-transform: uppercase;
}
.form{
    margin: 10px 10px;
}
.message {
    resize: none;
}
.button-form {
    background: #33cc66;
    color: white;
    width: 200px;
    height: 40px;
}
/*footer*/
.down{
    height: 200px;
    background: #3c4955;
}
.copyright{
    color: white;
    font-family: "Lato bold", sans-serif;;
    font-size: 20px;
    padding-top: 80px;
    float: left;
}
.bold{
    font-weight: bold;
}
.social{
    width: 400px;
    height: 55px;
    position: relative;
    padding-top: 70px;
    float: right;
}
.lip{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 0;
    float: left;
    display: block;
    margin-right: 40px;
    height:55px;
    width: 50px;
}
.link{
    height: 55px;
    width: 50px;
    display: block;
    margin-right: 40px;
}
.twitter{
   background: url("../img/social.png") 0 0;
}
.linkedin{
    background: url("../img/social.png") -90px 0;
}
.ball{
   background: url("../img/social.png") -180px 0;
}
.be{
   background: url("../img/social.png") -266px 0;
}
/*Портфолио*/

.portfolio{
    height: 1050px;
    background: white;
    position: relative;
    top: 0;
}
.portfolio_list{
    height: 32px;
    width: 665px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.portfolio_button{
    list-style: none;
    position: relative;
    font-size: 16px;
    font-family: "Lato bold", sans-serif;
    padding: 10px 16px;
    margin-left: 15px;
    float: left;
    border-radius: 2px;
    border: #eaeaea;
    background: #eaeaea;
    color: rgb(60,73,85);
    font-weight: bold;
}
.items{
    position: relative;
    top:50px;
}
.image{
    width: 100%;
}
.itemrow1{
    float:left;

}
.itemrow2{
    float: right;
    /*position: absolute;*/
}
.item_1,
.item_3{
    padding-bottom: 40px;
}
.portfolio_button:hover{
    content: '';
    background: #33cc66;
    color: white;
}
/*Мужчина*/
.about{
    height: 500px;
    background: url("../img/men-computer (4).png")  no-repeat;
    background-color: #3c4955;
    background-blend-mode: multiply;
}